<section class="about-us">
  <div class="row">
    <div class="col-12 col-md-6 about-col">
      <h1 class="mb-5">We are the world’s biggest shop</h1>
      <p style="text-align: justify; width: 90%;" class="my-5">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe, ducimus alias eius repudiandae sint assumenda
        velit rerum tempora dolore accusantium modi eaque dolorum dicta amet nemo quam, voluptates autem culpa,
        voluptatum ea. Sed, nam. In libero unde veritatis nihil soluta deleniti aliquam dolores aut quaerat porro
        repudiandae deserunt ipsa, labore sit cupiditate, quidem provident vel aspernatur ipsum quisquam! Fugiat autem
        in quaerat alias exercitationem harum explicabo quibusdam quia odio dolor quas, accusantium doloribus aut neque
        vel eum veniam officia perferendis! Optio praesentium, exercitationem magni nihil quod aliquam accusantium quo,
        minus perferendis iure repellat cumque tempore quaerat odio iste voluptas veniam?
      </p>
      <div class="text-center">
        <a href="#" class="btn btn-dark">EXPLORE NOW</a>
      </div>
    </div>
    <div class="col-12 col-md-6 about-col">
      <img src="assets/about.jpg" class="w-100">
    </div>
  </div>
</section>