<h1 class="heading text-center text-capitalize mb-5"><span>contact</span> us</h1>
<section class="contact container" id="contact">
  <div class="row">
    <form>
      <div class="inputBox">
        <span class="fas fa-user"></span>
        <input type="text" placeholder="enter your name" />
      </div>
      <div class="inputBox">
        <span class="fas fa-envelope"></span>
        <input type="email" placeholder="enter your email address" />
      </div>
      <div class="inputBox">
        <span class="fas fa-phone"></span>
        <input type="number" placeholder="enter your phone number" />
      </div>
      <input type="submit" value="contact now" class="btn btn-dark" checked />
    </form>
  </div>
</section>